server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: album-api

  actuator:
    endpoint:
      health:
        probes:
          enabled: true
    health:
      livenessstate:
        enabled: true
      readinessstate:
        enabled: true

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
      show-components: always
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

springdoc:
  show-actuator: true
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
